.form-check-label {
    margin-bottom: 0;
    margin-right: -65px;
    margin-bottom: 28px;
}


.navbar-light .navbar-brand {
    color: white;
}

.form-check-label2 {
    margin-bottom: 0;
    margin-right: -52px;
    margin-bottom: 17px;
}

.form-check-inline .form-check-input {
   margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.alert {
  margin-left: 520px !important;
  margin-top: 10px;
}

.alert-success {
  width: 350px;
  margin-left: 10px;
}

.alert-danger {
  width: 350px;
  margin-left: 10px;
}

label {
    margin-top: 0px;
}

.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.table td, .table th {
    width: 1px;
}

.menu{
   float: left;
   margin-top: 0px;
   width: 203px;
   height: 640px;
   background-color: black;
}

.nav-item-last{
   margin-bottom: 880px;
}

