.nav{
    background-color: black;
    width: 15%;
    margin-top: -68px;
}

.nav-link{
    color: white;
}

.nav-color{
    background-color: orange;
    color: white;
    text-decoration: none;
}

.page-title{
    text-align: center;
    margin-top: 10px;
}

label{
  display: inline-block;
  width: 160px;
  padding-right: 0px !important;
  margin-top: 10px !important;
}

.button-group{
    margin-bottom: 20px;
}

.my-custom-scrollbar {
    height: 300px;
    overflow: auto;
    margin-top: 75px;   
}
.table-wrapper-scroll-y {
    width: 500px;
    border-color: black;
}

.total-venda{
    margin-top: 200px;
    margin-right: 180px;
}

.button-venda{
    float: right;
    margin-right: 170px;
}

.detalhes-venda{
    float: right;
    margin-right: 250px;
    margin-top: 80px;
}
